.container {
  background-color: var(--white);
  border-radius: 4px;
  box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.12);

  width: 100%;
}

/* .tabs {
  display: grid;
  grid-template-columns: repeat(auto-fit, calc(100% / 2));
  grid-template-rows: auto;

  width: 100%;
}

.tab {
  border-bottom: 1px solid var(--grey_medium);
  font-size: 1.6rem;
  height: 5rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

.active {
  border-bottom: 2px solid var(--blue_medium);
  color: var(--blue_medium);
  font-weight: bold;
} */

.filter {
  border-bottom: 1px solid var(--grey_medium);
  color: var(--blue-medium);
  position: relative !important;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.filterBtn {
  color: var(--blue_dark);
  font-size: 1.6rem;
  font-weight: bold;
  padding: 0 1.5rem;

  display: flex;
  align-items: center;

  height: 5rem;
  width: 25rem;
}

.dropdown {
  background-color: var(--white);
  border-radius: 4px;
  box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.12);

  position: absolute;
  top: 5rem;
  overflow: hidden;

  width: 25rem;
  z-index: 5;
}

.icon {
  height: 3rem;
  width: 3rem;
}

.item, .addItem, .formItem {
  font-size: 1.6rem;
  height: 5rem;
  padding: 0 1.5rem;

  display: flex;
  align-items: center;
}

.item {
  border-bottom: 1px solid var(--blue_lightest);
}

.item:hover, .addItem:hover {
  background-color: var(--blue_light);
}

.addItem {
  background-color: var(--blue_medium);
  color: var(--white);
  font-weight: bold;

  gap: 1.5rem;
}

.formItem {
  gap: 1rem;

  border: none;
  padding: 0 1rem;
}

.formItem .icon {
  stroke: var(--blue_medium);
}

.input {
  background-color: var(--blue_lightest);
  border: none;
  border-radius: 4px;

  padding: 0 5px;

  height: 3rem;
  width: 18rem;
}

.input:active, .input:focus {
  border: 1px solid var(--blue_medium);
}
