.container {
  height: 30rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
}

.graph {
  height: 20rem;
}

.total {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 2rem;
}

.total .label {
  color: var(--orange_medium);
  font-weight: bold;
}
