.btn {
  background-color: var(--blue_medium);
  border: 1px solid var(--blue_medium);
  border-radius: 4px;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  color: var(--white);
  font-size: 1.6rem;
  font-weight: bold;

  height: 5rem;
  width: 12rem;
}

.btn:hover {
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

.outline {
  background-color: transparent;
  border: 1px solid var(--blue_medium);
  box-shadow: none;
  color: var(--blue_medium);
}

.disabled {
  background-color: var(--grey_medium);
  border: 1px solid var(--grey_medium);
  box-shadow: none;
  color: var(--grey_dark);
}

.btn.disabled:hover {
  box-shadow: none;
  cursor: not-allowed;
}
