.form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.twoFields {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.twoFields input {
  width: 22rem;
}

.color {
  height: 5rem;
  width: 8rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

.color > button[data-testid] {
  object-fit: contain;
  height: 4rem;
  width: 4rem;
}
