.form {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.twoFields {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.twoFields input {

}

.color > div {
  display: none;
}

