.list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.addItem {
  display: flex;
  align-items: center;
  gap: 1.5rem;

  border-top: 1px solid var(--grey_medium);
  border-radius: 0 0 4px 4px;
  color: var(--blue_medium);
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: bold;
  padding: 1.5rem 2.5rem 1.5rem 1.5rem;
}

.icon {
  height: 3.5rem;
  width: 3.5rem;
}

@media only screen and (min-width: 1280px) {
  .addItem {
    display: none;
  }
}
