.tabs {
  display: grid;
  grid-template-columns: repeat(auto-fit, calc(100% / 2));
  grid-template-rows: auto;

  width: 100%;
}

.tab {
  border-bottom: 3px solid var(--grey_medium);
  font-size: 1.6rem;
  height: 5rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

.tab:hover {
  cursor: pointer;
}

.active {
  border-bottom: 3px solid var(--blue_medium);
  color: var(--blue_medium);
  font-weight: bold;
}