.container {
  background-color: var(--white);
  border-radius: 4px;
  box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.12);
  padding: 2.5rem;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 1.5rem;

  grid-column: 8 / 11;
  grid-row: 1 / -1;
}

.container h2 {
  color: var(--blue_dark);
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.addJob {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  border-bottom: 1px solid var(--grey_medium);
}