.filter {
  border-bottom: 1px solid var(--grey_medium);
  color: var(--blue-medium);
  padding: 0 1rem;
  position: relative !important;

  display: flex;
  align-items: center;
  justify-content: flex-end;

  height: 6rem;
}

.filterBtn {
  color: var(--blue_dark);
  cursor: pointer;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  height: 4.5rem;
  width: 4.5rem;
}

.filterBtn:hover,
.filterBtn.active {
  background-color: var(--blue_lightest);
  border-radius: 4px;
}

.filterIcon {
  height: 2rem;
  width: 2rem;
}
