.nav {
  background-color: var(--white);
  border-bottom: 1px solid var(--grey_medium);
  font-size: 1.6rem;
  padding: 0 2.4rem;

  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 6.9rem;
  z-index: 1;
}

.logo {
  color: var(--blue_dark);
  font-size: 2.5rem;
  font-weight: bold;
}

.active {
  font-weight: bold;
}

/* MENU */
.menu {
  width: 4.5rem;
}

.burgerLines,
.burgerLines:before,
.burgerLines:after {
  background-color: var(--blue_dark);
  border-radius: 0.25rem;
  content: '';
  height: 0.25rem;
  transform: rotate(0);
  transition: top 0.2s 0.2s, left 0.1s, transform 0.2s,
    background-color 0.4s 0.2s;
}

.burgerLines {
  width: 100%;
}

.burgerLines:before {
  position: absolute;
  bottom: 1rem;
  left: 0;

  width: 50%;
}

.burgerLines:after {
  position: absolute;
  top: 1rem;
  left: 0;

  width: 70%;
}

.burgerLines:hover {
  cursor: pointer;
}

.open .burgerLines {
  background-color: transparent;
  transition: background-color 0.2s, top 0.2s, left 0.2s, transform 0.2s 0.15s;
}

.open .burgerLines:before,
.open .burgerLines:after {
  transition: 0.2s background-color, 0.2s top, 0.2s left, 0.2s transform 0.15s;
  left: 0.5em;
  top: 0px;
}

.open .burgerLines:before {
  transform: rotate(-45deg);
}

.open .burgerLines:after {
  transform: rotate(45deg);
}

/* SIDENAV DRAWER */
.sidenav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background-color: var(--grey_light);
  color: var(--blue_dark);
  padding: 7rem 0 2.4rem;

  height: 100vh;
  width: 25rem;
}

.sidenav a:first-child {
  border-top: 1px solid var(--grey_medium);
}

.sidenav a {
  border-bottom: 1px solid var(--grey_medium);
  color: var(--blue_dark);
  font-size: 1.8rem;
  padding: 0 2.4rem;
  text-decoration: none;

  display: flex;
  align-items: center;

  height: 6rem;
}

@media only screen and (min-width: 768px) {
  .nav {
    padding: 0 4rem;
  }
}

@media only screen and (min-width: 1024px) {
  .menu {
    display: none;
  }

  .nav {
    grid-column: 1 / -1;
    grid-row: 1 / 2;

    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.14);
  }
}