.footer {
  border-top: 1px solid var(--grey_medium);
  color: var(--blue_dark);
  font-size: 1.2rem;
  padding: 0 2.4rem;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;

  height: 4.9rem;
}

.footer a {
  color: var(--blue_dark);
  text-decoration: none;
}

.footer a:hover {
  color: var(--orange_medium);
  cursor: pointer;
  text-decoration: none;
}

@media only screen and (min-width: 768px) {
  .footer {
    padding: 0 4rem;
  }
}