.footer {
  border-top: 1px solid var(--grey_medium);
  font-size: 1.2rem;

  height: 4.9rem;
  width: 100vw;

  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  padding: 2.4rem;

  display: flex;
  align-items: center;

  width: 100%;
  max-width: 120rem;
}