.pickerWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;

  position: relative;

  height: 5rem;
  width: 100%;
}

.colorInput {
  height: 100%;
  width: 100%;
}

.colorInput > div:first-child {
  border-color: var(--blue_light);
  color: var(--blue_dark);
  font-size: 1.6rem;
  padding: 0 1rem;
}

.label {
  background-color: var(--white);
  border-radius: 4px;
  color: var(--blue_medium);
  font-size: 1.4rem;
  font-weight: bold;
  padding: 0 8px;
  text-transform: uppercase;

  position: absolute;
  top: -5px;
  left: 1rem;

  z-index: 10;
}
