.addJob {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.title {
  color: var(--blue_dark);
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;

  width: 100%;
}

.addJob button {
  align-self: flex-end;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.twoFields {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.twoFields input {}

.color > div {
  display: none;
}
